.App {
  width: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}
.app-inner {
  width: 75%;
  margin: auto;
  min-height: 50vh;
}
.detail-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.detail-pokemon-image {
  height: 150px;
  width: 150px;
}
.pokemon-img {
  width: 30%;
}
.pokemon-data {
  width: 70%;
}
.capitalize {
  text-transform: capitalize;
}
.poke-card {
  width: 300px;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.125);
}
.poke-card.my-pokemon {
  cursor: inherit;
}
.poke-card.my-pokemon h3,
h4 {
  margin: 0 0 0.5rem 0;
}
.poke-card img {
  width: 150px;
  height: 150px;
}

.delete-button {
  margin: 10px 0 2rem 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 1rem;
  background-color: red;
}

.pokecard-container {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.mobile-menu {
  overflow: hidden;
  width: 100vw;
  height: 0;
  z-index: 15;
  position: relative;
  background-color: white;
  transition: all 0.5s;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.125);
}
.mobile-menu.active {
  height: 150px;
  padding: 10px 0;
}
.mobile-menu > div {
  height: 100%;
  text-align: center;
}
.caught-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.name-input {
  margin: 2.5px 0;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px grey;
}
.close-menu {
  position: absolute;
  height: 30px;
  right: 2rem;
  top: 2rem;
}

.catch-button {
  width: 100%;
  margin: 10px 0;
  max-width: 320px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  padding: 5px;
  font-size: 1.5rem;
  background-color: blue;
}

.catch-button:disabled {
  opacity: 0.5;
}
.flex-three-fourths {
  width: 75%;
}
.flex-half {
  width: 50%;
}
.flex-full {
  width: 100%;
}
.flex-quarter {
  width: 25%;
}

.header {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.125);
  margin-bottom: 2rem;
  z-index: 15;
  height: 50px;
  padding: 10px 0;
  position: relative;
}
.header-logo {
  position: absolute;
  top: 50%;
  height: 50px;
  transform: translateY(-50%);
}
.centered-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.centered-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-inner {
  margin: 0 auto;
  width: 75%;
  display: flex;
}
.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
}
.footer-inner {
  width: 75%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.header-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 50px;
}
.header-nav-link {
  padding: 0 1rem;
}
.flex-justify-start {
  justify-content: flex-start;
}
.page-title {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}
.mobile-menu-toggler {
  display: none;
}
.mobile-menu-toggler img {
  height: 30px;
  margin-top: 14px;
  cursor: pointer;
  z-index: 25;
}
.mobile-menu-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 2rem;
}
.pagination {
  text-align: center;
  padding: 1rem 0;
}
.pagination-link {
  font-weight: bold;
  margin: 5px;
}
@media screen and (min-width: 1921px) {
  .poke-card {
    width: 300px;
  }
}
@media screen and (max-width: 769px) {
  .App {
    text-align: center;
  }
  .poke-card {
    width: 275px;
  }
  .pokemon-img {
    width: 100%;
  }
  .pokemon-data {
    width: 100%;
  }
  .detail-page {
    text-align: center;
  }
  .caught-form {
    align-items: center;
  }
}
@media screen and (max-width: 566px) {
  .App {
    margin-top: 100px;
  }
  .name-input {
    text-align: center;
  }
  .header {
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .header-logo {
    height: 30px;
  }
  .header-inner {
    height: 50px;
  }
  .header-nav {
    display: none;
  }
  .mobile-menu-toggler {
    display: flex;
    height: 50px;
    justify-content: flex-end;
  }

  .poke-card {
    width: 320px;
  }
  .poke-card img {
    width: 100px;
    height: 100px;
  }

  .pokecard-container {
    justify-content: center;
  }
}
